/* 전체 레파지토리 wrap */
.row {
	justify-content: center;
}

.repo-wrap {
	display: flex;
	flex-direction: column;
	height: auto;
	width: 80%;
}

.repo-wrap>div {
	padding: 15px 0px;
	/* width: 900px; */
}

/* 레파지토리 목록 부분 */
.bottom-area {
/* 	border:1px solid #e6e6e6; */
	height: auto;
	border-radius: 10px;
/* 	padding: 50px 100px; */
	background-color: white;
/* 	box-shadow: 0 0 6px rgba(0,0,0,0.03), 0 0 6px rgba(0,0,0,0.03); */
}

.bottom-area-wrap {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.repo-search input {
	outline: none;
	border: none;
}

h2 {
	margin: 0;
}

.repo-search-div {
	border: 1px solid #e6e6e6;
	width: 500px;
	height: 35px;
	border-radius: 6px;
	padding: 6px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.repo-search-div>input {
	width: 100%;
}

.repo-search-div>i {
	font-size: 18px;
}

.repo-search-div>* {
	padding: 0 3px;
}

/* 검색바 부분 버튼 스타일 변경 */
.repo-btn {
	background-color: rgb(249, 250, 255);
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	height: 35px;
	width: auto;
	font-weight: 600;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 10px;
}

.repo-create-btn {
	background-color: rgb(36, 87, 228);
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	height: 35px;
	width: 100px;
	font-weight: 600;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 15px;
}

.repo-create-btn-color {
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.repo-create {
	display: flex;
	justify-content: space-between;
	width: auto;
}

/* 레포지토리 리스트 목록 스타일 */
.repo-list-total-wrap {
	border: 1px solid #e6e6e6;
	border-radius: 8px;
}

.repo-list-count {
	height: 50px;
	background-color: #eaedf3;
	border-radius: 8px 8px 0 0;
	padding: 10px 15px;
}

.repo-list-top-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}

.repo-list-wrap-one {
	border-top: 1px solid #e6e6e6;
}

.repo-list-wrap-one>div {
	padding: 10px 20px;
}

.top-area-title-visibility {
	display: flex;
	align-items: center;
}

.top-area-title-visibility h4 {
/* 	color: #33bbff; */
	padding-right: 30px;
	margin: none;
}

.top-area-visibility {
	border: 1px solid #e6e6e6;
	border-radius: 25px;
	width: 90px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

.top-area-action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 120px;
}

.top-area-action i {
	border: 1px solid #e6e6e6;
	border-radius: 15px;
	width: 30px;
	height: 30px;
	padding: 5px;
	font-size: 25px;
	cursor: pointer;
	color: #02384B;
}

.unabled-area i:hover {
	background-color: #e6e6e6;
}

.top-area-action button {
	border: none;
	background: none;
}

.wrap-one {
	padding-bottom: 10px;
}

.repo-count-list-area {
	display: flex;
	align-items: center;
}

.repo-count-list-area>div {
	display: flex;
	align-items: center;
	padding-right: 10px;
}

.repo-count-list-area i {
	font-size: 18px;
	font-weight: 500;
 	padding-right: 5px;
 	vertical-align: middle;
/*  	color: blue; */
}

.repo-search {
	margin-right: 15px;
}

.repo-count-check {
	color: #33bbff;
	display: flex;
	align-items: center;
}

.repo-date {
	color: #333333;
}

.href-div {
	cursor: pointer;
}

.updateModal-header {
    border-bottom: 1px solid #e3e3e3;
}

.modal-body-repo {
	padding: 15px 15px;
}

.modal-body-repo>div {
	padding: 5px 0;
}

.moda-body-repo-input {
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
}

.moda-body-repo-input>input {
	border: none;
	outline: none;
	width: 95%;
}

.modal-body-repo-visibility {
	display: flex;
	align-items: center;
}

.modal-body-repo-visibility>div {
	padding: 0 3px;
}

.modal-body-repo-radio input {
	vertical-align: middle;
}

.modal-body-repo-radio {
	display: flex;
	align-items: center;
/* 	padding: 0 8px; */
}

.modal-body-repo-radio>div {
	padding: 0 3px;
}

.ti-user-plus {
	font-size: 60px;
}

.invite-header-modal {
	display: flex;
	justify-content: center;
	flex-direction: column;
    align-items: center;
    padding: 5px;
}

.invite-header-modal>div {
	padding: 5px;
}

.invite-body-modal {
	border: 1px solid #c3c3c3;
	border-radius: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 5px;
	height: 35px;
	background: #eee;
}

.invite-body-modal:focus-within {
	background: white;
	outline: 1px solid #02384B;
}

.invite-body-modal>input {
	border: none;
	outline: none;
	background: none;
	width: 98%;
}

.invite-footer-modal {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	background: #49BEFF;
	border-radius: 6px;
	height: 35px;
}

.invite-footer-modal:hover {
	background: #12aaff;
}

.invite-footer-modal>button {
	border: none;
	background: none;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 16px;
}

.invite-header-modal-title {
	display: flex;
}

.modal-body-inviteform {
	margin-bottom: 20px;
}

.disabled-btn i {
	background: #eee;
	color: white;
}

button[disabled] {
  pointer-events: none;
}

.repo-select-btn {
	position: relative;
}

.hidden-select-btn {
	position: absolute;
	top: 45px;
	right: -80px;
	border:1px solid #e6e6e6;
	border-radius: 6px;
	background-color: white;
	width: 150px;
/* 	height: auto; */
	display: none;
	box-shadow: 0 0 6px rgba(0,0,0,0.03), 0 0 6px rgba(0,0,0,0.03);
}

.hidden-select-btn-title {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.hidden-btn-select-area>div {
	border-top: 1px solid #e6e6e6;
}

.hidden-btn-select-area>div:hover {
	background-color: #eee;
	cursor: pointer;
}

.hidden-btn-select-area>div>div {
	padding: 5px 10px;
}

.modal-header {
	background-color: #409cff;
    border-radius: 15px 15px 0 0;
}

.modal-title {
	color: white;
}