h2, h5 {
	margin: 0;
}

/* 전체 레파지토리 wrap */
.repo-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
}

.repo-wrap>div, .repo-wrap>form {
	padding: 25px 0px;
	width: 100%;
}

form>div {
	width: 100%;
}

.bottom-area {
	border: 1px solid #e6e6e6;
	width: 100%;
	border-radius: 10px;
	padding: 50px 150px;
	background-color: white;
}

.repo-name-desc {
	border-bottom: 1px solid #e6e6e6;
}

.create-repo-name {
	display: flex;
	padding-bottom: 10px;
}

.create-repo-name span h5 {
	color: red;
}

.create-repo-select-public-area {
	padding: 20px 0px;
	border-bottom: 1px solid #e6e6e6;
}

.create-repo-select-public {
	display: flex;
	align-items: center;
}

.create-repo-select-public>div {
	padding: 10px 5px;
}

.create-repo-name-input>input {
	border: none;
	outline: none;
	width: 100%;
}

.create-repo-name-input {
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	width: 400px;
	height: 30px;
	display: flex;
	align-items: center;
	padding: 5px 10px;
}

.create-repo-name+div {
	display: flex;
	align-items: center;
}

.create-repo-name-input+div {
	padding-left: 15px;
	display: none;
}

h5 {
	margin: 0;
}

.create-repo-desc {
	padding-bottom: 10px;
}

.create-repo-name-area {
	padding-bottom: 30px;
}

.create-repo-checkbox-area {
	padding: 30px 0px;
	display: flex;
	border-bottom: 1px solid #e6e6e6;
}

.create-repo-checkbox-area>div {
	padding: 0px 5px;
}

.create-repo-select-ignore {
	padding: 30px 0px;
	border-bottom: 1px solid #e6e6e6;
}

.create-repo-btn-area {
	display: flex;
	justify-content: flex-end;
    align-items: center;
	padding-top: 30px;
}

.create-repo-btn-area button {
	border: 1px solid #e6e6e6;
	border-radius: 9px;
	height: 40px;
	width: 100px;
	background-color: rgb(36, 87, 228);
	color: white;
	font-weight: 600;
}

.select-radio-input-div>input, .create-repo-checkbox-area input {
	vertical-align: middle;
}

.cont-select {
    position: relative;
    width: 200px;
}

.btn-select {
	width: 100%;
    padding: 13px 30px 13px 14px;
    font-size: 12px;
    line-height: 14px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-select:hover, .btn-select:focus {
    border: 1px solid #9B51E0;
    outline: 3px solid #F8E4FF;
}

.list-member {
    display: none;
    position: absolute;
    width: 100%;
    top: 49px;
    left: 0;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.btn-select.on {
    background: url("images/icon-Triangle-up.png") center right 14px no-repeat;
}

.btn-select.on+.list-member {
    display: block;
}

.list-member li {
    height: 40px;
    padding: 5px 8px;
    box-sizing: border-box;
}

.list-member li button {
    width: 100%;
    padding: 7px 10px;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-member li button:hover, .list-member li button:focus {
    background-color: #F8E4FF;
}

#gitignore-area {
	width: 335px;
	height: 70px;
}

.select2-selection__choice {
	background-color: #d9deed;
	top: -2px;
}