/* 전체 레파지토리 wrap */
.repo-wrap {
	display: flex;
	flex-direction: column;
	height: auto;
}

.repo-wrap>div {
	padding: 25px 0px;
	/* width: 900px; */
}

/* 레파지토리 목록 부분 */
.bottom-area {
	border:1px solid #e6e6e6;
	height: auto;
	border-radius: 10px;
	padding: 50px 100px;
	background-color: white;
}

.bottom-area-wrap {
	display: flex;
	justify-content: flex-end;
}

.repo-search input {
	outline: none;
	border: none;
}

h2 {
	margin: 0;
}

.repo-search-div {
	border: 1px solid #e6e6e6;
	width: 450px;
	height: 35px;
	border-radius: 6px;
	padding: 6px 10px;
}

.repo-search-div>input {
	width: 100%;
}

/* 검색바 부분 버튼 스타일 변경 */
.repo-btn {
	background-color: rgb(249, 250, 255);
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	height: 35px;
	width: 100px;
	font-weight: 600;
	cursor: pointer;
}

.repo-create-btn {
	background-color: rgb(36, 87, 228);
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	height: 35px;
	width: 100px;
	font-weight: 600;
	cursor: pointer;
}

.repo-create-btn-color {
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.repo-create {
	display: flex;
	justify-content: space-between;
	width: 22%;
}

.repo-create-btn, .repo-btn {
	display: flex;
	align-items: center;
    justify-content: center;
}

/* 레포지토리 리스트 목록 스타일 */
.repo-list-one {
	border: 1px solid #e6e6e6;
	border-radius: 6px;
	height: 120px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 20px;
}

.repo-list-area {
	padding-top: 30px;
}

.repo-search {
	padding-right: 7px;
}

.body-wrapper {
	/* background-color: #f9f9ff; */
}

a {
	color: #333333;
	text-decoration: none;
}

.repo-title-area {
	padding: 0px 35px;
}

.repo-list-one-area {
	display: flex;
}

.repo-other-area {
	height: 100%;
    width: 35px;
	display: flex;
    flex-direction: row-reverse;
	cursor: pointer;
	position: relative;
}

.repo-other-img {
	width: 35px;
	height: 35px;
	border-radius: 35px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.repo-other-img:hover {
	background-color: #eeeeee;
}

.repo-other {
	display: flex;
	flex-direction: column;
    align-items: center;
    width: 70px;
	height: 90px;
	position: absolute;
    right: 50px;
	border: 1px solid #e6e6e6;
	/* box-shadow: 0px 0px 1px; */
	display: none;
	border-radius: 6px;
}

.repo-other>div {
	height: 30px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.repo-other button {
	border: none;
	background-color: transparent;
}

.repo-other>div:hover {
	background-color: #eeeeee;
}

.repo-public {
	border: 1px solid #d9d9d9;
	border-radius: 30px;
	width: 80px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

#repo-other-a {
	color: black;
}

.repo-other>div:first-child {
	border-radius: 6px 6px 0 0;
}

.repo-other>div:last-child {
	border-radius: 0 0 6px 6px;
}